.header {
    background-color: #EF717A;
}

.header_image {
    width: 60%;
	padding:1%; /*¬нутри*/
	/*margin:1%;*/ /*—наружи*/
}

.header_menu {
    background-color: #EF717A;
}

.breadcrumbs {
    font-size: 14px;
    margin-bottom: 10px;
}

h1.title-page {
    margin-bottom: 35px;
}

#trunk {
	padding:5px !important; margin:10px; background:#FAFAFA;
}

.content h1, .h1, .inner h1, .title-bread h1 {
    font-size: 30px;
    color: #0067b1;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}
input::-webkit-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
}
input:-moz-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
}
input:-ms-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
}
button {
	color: #fff; /* цвет текста */
	border-radius:0px !important;
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	font-weight:bold;
	background: rgb(66,146,211); /* фон кнопки */
	padding: .7em 1.5em; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
} 
button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
button:active { background: rgb(152,15,0); } /* при нажатии */

 li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #343843; /* Цвет фона */
	height:30px;
	/*padding-left:10px;
	padding-right:10px;*/
	font-size:x-small;
 }
 
 li:hover {
  
    background: #343555; /* Цвет фона */
 }
 li:active {
  
    background: #BABBBD; /* Цвет фона */
 }
 
 
 p1{
	font-weight:bold; 
	font-size:large; 
	padding:0; 
	margin:0;
	color:black;
 }
 
 p2{
	font-weight:bold; 
	font-size:medium;
	padding:0; 
	margin:0; 
	color:grey;	
 }
 
 p3{
	font-size:small;
	padding:0; 
	margin:0;
	color:black;
 }
  p4{
	  font-weight:bold; 
	font-size:small;
	padding:0; 
	margin:0;
	color:black;
 }
 p5{
	font-size:large; 
	padding:0; 
	margin:0;
	color:black;
 }
 table {
    width: 98%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
	/*border: 1px solid black;*/
    border-collapse: collapse;
	margin:1%;
	height: 1.5em;
	cursor: pointer;
   }
   td, th {
	   height: 1.5em;
     background: white; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
	/*border: 1px solid grey; /* Параметры рамки */
   }
   
   th{
	  
   }
    tr:hover td{
	   background: #E8E8E8;
   }
   
   ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  height: 30px; /*задаем высоту*/
}
li a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color: white; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:30px; /*ровняем меню по вертикали*/
  display: block; 
  /*border-right: 1px solid #F36262;*/ /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}
  
.rectangle{
	border-radius: 0px;
	border:4px;
	border-color:grey;
	background:white;
	color:black;
	padding-left:0.5rem;
	vertical-align:top;
	border: 2px solid #BABABA;
	}

.rectangle1{
	border-radius: 0px;
	border:4px;
	background:white;
	color:black;
}
  .rectangle2{
	border-radius: 0px;
	border:4px;
	background:white;
	color:black;
	  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
	border: 2px solid #BABABA;
  /*border-radius: 3px;*/
  background-color: #fefefe;
} 

.rectangle-select{
  border-radius: 0px;
  color:#BFC1C2;
  background:#fafafa;
  padding-left:0.5rem;
  vertical-align:top;
  border: 2px solid #BFC1C2;
}

.request-select{
  border-radius: 0px;
  /*background:#fafafa;*/
  padding-left:0.5rem;
  vertical-align:top;
  border: 0px solid #BFC1C2;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;}

select option{
  border-radius: 0px;
  background:#fafafa;
  color:#BFC1C2;
  padding-left:0.5rem;
  vertical-align:top;
  border: 2px solid #BFC1C2;
}

  *{
    font-family: Arial;
}
.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
	position:absolute;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(255,255,255,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:60%;
    padding:10px;
    background-color: White;
    border-radius:0px;
    box-shadow: 0px 0px 10px #000;
>>>>>>> Stashed changes
}